[Unit]
Description=SLCAN interface for WeActStudio USB2CANFD
After=dev-ttyACM0.device
BindsTo=dev-ttyACM0.device

[Service]
Type=forking
ExecStart=/usr/bin/slcand -o -s6 /dev/ttyACM0 can0
ExecStartPost=/usr/sbin/ip link set can0 up
ExecStop=/usr/sbin/ip link set can0 down
ExecStopPost=/usr/bin/killall slcand

[Install]
WantedBy=dev-ttyACM0.device
